<div>
  <h3>Итоги</h3>
  <p>Диаметр тарелки {{l}}</p>
  <p>Высота тарелки {{h}}</p>
  <p>Длина масштабного объекта {{l_scale}}</p>
  <p>Кофициент {{koef}}</p>
  <p>Реальный диаметр блюда {{l_real}}</p>
  <p>Реальная высота блюда {{h_real}}</p>
  <p>Диаметр с фото сверху {{d_top}}</p>
</div>
