<div>
  <h3>Итоги</h3>
  <table class='block-none'>
    <tr>
      <td>Диаметр тарелки</td>
      <td>l</td>
      <td>{{l}}</td>
    </tr>
    <tr>
      <td>Высота тарелки</td>
      <td>h</td>
      <td>{{h}}</td>
    </tr>
    <tr>
      <td>Длина масштабного объекта</td>
      <td>l_scale</td>
      <td>{{l_scale}}</td>
    </tr>
    <tr>
      <td>Кофициент</td>
      <td>koef</td>
      <td>{{koef}}</td>
    </tr>
    <tr>
      <td>Реальный диаметр блюда</td>
      <td>l_real</td>
      <td>{{l_real}}</td>
    </tr>
    <tr>
      <td>Реальная высота блюда</td>
      <td>h_real</td>
      <td>{{h_real}}</td>
    </tr>
    <tr>
      <td>Диаметр с фото сверху</td>
      <td>d_top</td>
      <td>{{d_top}}</td>
    </tr>
    <tr>
      <td>Реальный диаметр фото сверху</td>
      <td>d_top_real</td>
      <td>{{d_top_real}}</td>
    </tr>
    <tr>
      <td>Длина пустого края тарелки </td>
      <td>margin_plate</td>
      <td>{{margin_plate}}</td>
    </tr>
    <tr>
      <td>Длина пустого края тарелки (реальный)</td>
      <td>margin_plate_real</td>
      <td>{{margin_plate_real}}</td>
    </tr>
    <tr>
      <td>Кофициент соотношения реального диаметра тарелки к диаметру на фото сверху</td>
      <td>koef_top</td>
      <td>{{koef_top}}</td>
    </tr>
    <tr>
      <td>Радиус тарелки посчитанный по фото</td>
      <td>r_top</td>
      <td>{{r_top}}</td>
    </tr>
    <tr>
      <td>Радиус тарелки масштабированный</td>
      <td>r</td>
      <td>{{r}}</td>
    </tr>
    <tr>
      <td>Площадь всей тарелки еды</td>
      <td>S_whole</td>
      <td>{{S_whole}}</td>
    </tr>
    <tr>
      <td>Объем всей тарелки еды</td>
      <td>V_whole</td>
      <td>{{V_whole}}</td>
    </tr>
    <tr>
      <td>Площадь первой области</td>
      <td>S_obl1</td>
      <td>{{S_obl1}}</td>
    </tr>
    <tr>
      <td>Объем первой области</td>
      <td>V_obl1</td>
      <td>{{V_obl1}}</td>
    </tr>
    <tr>
      <td>Площадь второй области</td>
      <td>S_obl2</td>
      <td>{{S_obl2}}</td>
    </tr>
    <tr>
      <td>Объем второй области</td>
      <td>V_obl2</td>
      <td>{{V_obl2}}</td>
    </tr>
    <tr>
      <td>Площадь третьей области</td>
      <td>S_obl3</td>
      <td>{{S_obl3}}</td>
    </tr>
    <tr>
      <td>Объем третьей области</td>
      <td>V_obl3</td>
      <td>{{V_obl3}}</td>
    </tr>
    <tr>
      <td>Сумма площадей областей</td>
      <td>S_obl_sum</td>
      <td>{{S_obl_sum}}</td>
    </tr>
    <tr>
      <td>Сумма объемов областей</td>
      <td>V_obl_sum</td>
      <td>{{V_obl_sum}}</td>
    </tr>
  </table>

  <table>
    <tr>
      <td>Диаметр блюда</td>
      <td>l_real</td>
      <td>{{l_real}} см</td>
    </tr>
    <tr>
      <td>Высота блюда</td>
      <td>h_real</td>
      <td>{{h_real}} см</td>
    </tr>
    <tr>
      <td>Длина пустого края тарелки</td>
      <td>margin_plate_real</td>
      <td>{{margin_plate_real}} см</td>
    </tr>
    <tr>
      <td>Радиус тарелки без края</td>
      <td>r</td>
      <td>{{r}} см</td>
    </tr>
    <tr>
      <td>Объем всей тарелки еды</td>
      <td>V_whole</td>
      <td>{{V_whole}} куб. см</td>
    </tr>
    <tr>
      <td>Объем первой области</td>
      <td>V_obl1</td>
      <td>{{V_obl1}} куб. см</td>
    </tr>
    <tr>
      <td>Объем второй области</td>
      <td>V_obl2</td>
      <td>{{V_obl2}} куб. см</td>
    </tr>
    <tr>
      <td>Объем третьей области</td>
      <td>V_obl3</td>
      <td>{{V_obl3}} куб. см</td>
    </tr>
    <tr>
      <td>Сумма объемов областей</td>
      <td>V_obl_sum</td>
      <td>{{V_obl_sum}} куб. см</td>
    </tr>
    <tr>
      <td>Калорийность </td>
      <td>countCalories</td>
      <td>{{countCalories}} Ккал</td>
    </tr>
  </table>

  <div class='center-text'>
    <h3>
      <a class='center-button' href='/'>Главная</a>
    </h3>
  </a>

</div>
