<div class='center' {{#if haveFoto}} style="background-image: url('/images/foto-front');" {{/if}}>

  <div class='wrap-center-form'>

{{haveFoto}}

  </div>

</div>

<div class='center'>
  <form action="/front-points">
    <fieldset>
      <label>Точка 1</label>
      <input type="text" value={{t1.x}}>
      <input type="text" value={{t1.y}}>
    </fieldset>
    <fieldset>
      <label>Точка 2</label>
      <input type="text" value={{t2.x}}>
      <input type="text" value={{t2.y}}>
    </fieldset>
      <label>Точка 3</label>
      <input type="text" value={{t3.x}}>
      <input type="text" value={{t3.y}}>
    </fieldset>
  </form>
</div>
